**/*.pyc
**/*.egg-info/
**/*~
src/pysonata/sonata/tests/tmp
src/pysonata/build
src/pysonata/dist
src/pysonata/.pytest_cache
**/mechanisms/x86_64
examples/**/output/log.txt
examples/**/output/config.json
.idea
.cache
**/mechanisms/x86_64
/examples/sim_tests/biophysical/one_cell/soma_cm2_hh/.pytest_cache
/examples/sim_tests/intfire/10_cells_iclamp/bmtk_test/.pytest_cache
/examples/sim_tests/intfire/one_cell_iclamp/bmtk_test/.pytest_cache
