**/*.pyc
**/*.egg-info/
**/*~
src/pysonata/sonata/tests/tmp
src/pysonata/build
src/pysonata/dist
src/pysonata/.pytest_cache
**/mechanisms/x86_64
examples/**/output/log.txt
examples/**/output/config.json
.idea
.cache
**/mechanisms/x86_64
/examples/sim_tests/biophysical/one_cell/soma_cm2_hh/.pytest_cache
/examples/sim_tests/intfire/**/.pytest_cache
.ipynb_checkpoints/
/examples/checkouth5.sh
/examples/sim_tests/intfire/ten_cells_iclamp_nest/bmtk_test/output
/examples/sim_tests/intfire/one_cell_iclamp_nest/bmtk_test/output/
/examples/sim_tests/intfire/ten_cells_spikes_nest/bmtk_test/output
/examples/sim_tests/intfire/ten_cells_spikes_nrn/bmtk_test/output
